@font-face {
  font-family: "Clifton";
  src: url("../font/CliftonTrial-Regular.otf");
}
@font-face {
  font-family: "Clifton-Italic";
  src: url("../font/CliftonTrial-Italic.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Clifton", sans-serif;
}

body {
  background-color: #d3ffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;
}



.main-layout {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 25px 3fr 20px 1fr 25px;
  grid-template-rows: 25px 1fr 25px;
  grid-gap: 1px 1px;
  grid-template-areas: ". . . . ." ". app . tools ." ". . . . .";
}

.tools {
  grid-area: tools;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#app {
  grid-area: app;
  font-size: 0;
  height: 100%;
  width: 100%;
  touch-action: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "c0 c1 c2" "c3 c4 c5";
}

.c0 { grid-area: c0;}
.c1 { grid-area: c1;}
.c2 { grid-area: c2;}
.c3 { grid-area: c3;}
.c4 { grid-area: c4;}
.c5 { grid-area: c5;}

canvas {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}

.canvas {
  background-image: url("../img/bg/marilyn-monroe.jpg");
  background-size: cover;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.toolbar img {
  padding: 0.7vw;
  height: 5vw;
  width: 5vw;
  border-radius:50%;
  border: 0.3vw solid black;
  background-color: white;
}

.active {
  border: 0.3vw solid yellow !important;
}

.disabled {
  pointer-events: none;
  border: 0.3vw solid grey !important;
}

.dark {
  background-image: url("../img/tools/dark.png");
  background-size: cover;
}
.light {
  background-image: url("../img/tools/light.png");
  background-size: cover;
}
.background {
  background-image: url("../img/tools/background.png");
  background-size: cover;
}

#clear {
  border: 0.3vw solid red !important;
}

.header {
  text-align: center;
}

h1 {
  font-size: 3vw;
}
h2 {
  font-size: 2vw;
}
